Loading Files

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

df1 = pd.read_csv('user2_data.csv',header=[0])
df2 = pd.read_csv('user1_data.csv',header=[0])

Data Operations

In [4]:
# Convert the timestamp column to datetime format
df1['timestamp'] = pd.to_datetime(df1['ttime'])
df2['timestamp'] = pd.to_datetime(df2['ttime'])

In [5]:
#removing old format and setting new one
df1.drop(['ttime'],axis=1,inplace=True)
df2.drop(['ttime'],axis=1,inplace=True)

df1.set_index('timestamp', inplace=True)
df2.set_index('timestamp', inplace=True)

In [6]:
# Resample the data to a common time interval (every 5 minutes)
df1_resampled = df1.resample('5T').mean()
df2_resampled = df2.resample('5T').mean()

In [7]:
# Merge the two datasets based on the timestamp column
merged_df = pd.merge(df1_resampled, df2_resampled, on='timestamp')
merged_df.to_csv("new_data.csv")

Data Cleaning

In [8]:
df = pd.read_csv('new_data.csv',header=[0])

In [9]:
#converting in unix timestamp  
df['new_time'] = df['timestamp'].apply(lambda x: pd.Timestamp(x).timestamp())
df.drop(['timestamp'],axis=1,inplace=True)

In [10]:
df= df.replace(-99,np.nan)
df=df.dropna()

In [11]:
df.columns

Index(['pm1_x', 'pm2_x', 'pm3_x', 'am_x', 'sm_x', 'lum_x', 'temp', 'humd',
       'pres', 'pm1_y', 'pm2_y', 'pm3_y', 'am_y', 'sm_y', 'st', 'lum_y',
       'new_time'],
      dtype='object')

In [12]:
df.head()

,pm1_x,pm2_x,pm3_x,am_x,sm_x,lum_x,temp,humd,pres,pm1_y,pm2_y,pm3_y,am_y,sm_y,st,lum_y,new_time
0,1.39,0.00,0.00,0.0,7576.0,10249.0,23.47,88.37,92848.31,3.63,0.0,0.0,3.2,7813.0,25.65,15001.0,1.658159e+09
1,1.95,0.00,0.00,0.0,7576.0,12636.0,23.64,85.26,92844.82,4.19,0.0,0.0,4.8,7692.0,25.66,13863.0,1.658159e+09
2,2.51,0.00,0.00,0.0,7463.0,8318.0,23.62,85.93,92834.94,4.74,0.0,0.0,4.0,7813.0,25.67,13788.0,1.658159e+09
3,0.55,2.51,2.51,0.0,7463.0,4149.0,23.82,86.06,92815.25,5.30,0.0,0.0,4.8,7813.0,25.68,14383.0,1.658160e+09
4,1.11,2.51,2.51,0.0,7463.0,3238.0,24.27,82.98,92820.05,0.55,5.3,5.3,3.2,7813.0,25.69,14621.0,1.658160e+09

In [14]:
f = df.drop(['sm_x'], axis = 1)

In [15]:
x = f

In [16]:
y=df['sm_x']

In [17]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

# Feature Scaling

In [18]:

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [19]:


# Fitting MLR to the Training set
from sklearn.linear_model import LinearRegression
classifier = LinearRegression()
classifier.fit(X_train, y_train)

LinearRegression()

In [20]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [21]:
def rmse(y_pred,y_true):
    return np.sum(np.square(y_pred - y_true))/len(y_true)

In [22]:
rmse(y_pred,y_test.values)

86884.41742318806

In [23]:
y_pred[0]

7220.734610975268